<ion-view view-title="Call Log">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-cloud-download-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <!--<div class="button-bar">-->
      <!--<button class="button button-stable button-large button-block icon ion-arrow-graph-down-left"></button>-->
      <!--<button class="button button-stable button-large button-block icon ion-arrow-graph-up-right"></button>-->
    <!--</div>-->
    <div class="button-bar padding-horizontal">
      <button class="button button-dark button-outline button-small button-block" translate>Incoming</button>
      <button class="button button-dark button-small button-block" translate>Outgoing</button>
    </div>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ui-sref="star()">
        <img src="../img/profile_image.png">
        <h2>Jenny Parker</h2>
        <p>-$320 - 2:15 </p>
        <i class="icon ion-android-arrow-up icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
