<ion-view view-title="{{'Call'|translate}}" hide-nav-bar="true" >
  <ion-content scroll="false" padding="false" class="manual-ios-statusbar-padding">

    <div ng-hide="joined" class="center-on-page"><ion-spinner class="call-spinner dark"></ion-spinner></div>

    <video id="localVideo" style="display:none" poster="../img/whitebox.png" class="hidden fadein-long" autoplay="autoplay"></video>
    <video id="remoteVideo" style="display:none" poster="../img/whitebox.png" class="hidden fadein-long" autoplay="autoplay"></video>
    <audio id="localAudio" autoplay="autoplay" muted="muted"></audio>
    <div id="tracks">
        <!--<audio id="remoteAudio" autoplay="true" muted="false"></audio>-->
    </div>

  </ion-content>
  <div class="bottom-panel">
    <div class="button-bar">
      <button class="button button-balanced button-large button-clear text-shadow"></button>
      <a ng-show="connected" ng-click="finish()" class="button button-assertive button-large button-clear icon ion-android-call phone-rotate text-shadow"></a>
      <button class="button button-balanced button-large button-clear text-shadow"></button>
    </div>

    <div ng-show="bill" class="callpanel">
      <div class="button-bar row-no-padding" style="height:24px">
        <button ng-bind="(incoming?'+':'-')+'Ξ'+bill.price.toFixed(4)" id="call-price" class="button button-light button-large button-info button-clear text-shadow"></button>
        <button ng-bind="bill.timeStr" id="call-time"  class="button button-light button-large button-clear button-info text-shadow">0:00</button>
        <button ng-bind="(incoming?'+':'-')+'Ξ'+bill.total.toFixed(4)" id="call-total" class="button button-light button-large button-info button-clear text-shadow"></button>
      </div>
      <div class="button-bar row-no-padding" style="height:22px">
        <button ng-bind="(incoming?'+':'-')+'$'+(bill.price*exchangeRate).toFixed(2)" class="button button-stable button-info button-clear text-shadow">$???</button>
        <button  class="button button-light button-info button-clear "></button>
        <button ng-bind="(incoming?'+':'-')+'$'+(bill.total*exchangeRate).toFixed(2)" class="button button-stable button-info button-clear text-shadow">$???</button>
      </div>
      <div class="button-bar row-no-padding">
        <button class="button button-stable button-small button-clear " translate>per minute</button>
        <button class="button button-stable button-small button-clear " translate>call time</button>
        <button ng-show="incoming" class="button button-stable button-small button-clear " translate>revenues</button>
        <button ng-hide="incoming" class="button button-stable button-small button-clear" translate>cost</button>
      </div>
    </div>
  </div>
</ion-view>
