<ion-view title="{{'Messages'| translate}}" id="page17">
  <!--<ion-nav-title ng-bind="star.displayName?star.displayName:'Chat'"></ion-nav-title>-->
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div class="spacer" style="width: 300px; height: 200px;"></div>
    <button class="button button-block button-icon icon ion-settings"></button>
    <h4 style="text-align: center" translate>Messages and call log</h4>
    <h5 style="text-align: center" translate>will be available in future versions</h5>
    <!--<ion-list id="chat-list9">-->
      <!--<ion-item class="item-avatar item-icon-right" id="chat-list-item19" ui-sref="star()">-->
        <!--<img ng-src="{{star.photoURL?star.photoURL+'?type=large':'../img/profile_image.png'}}">-->
        <!--<p ng-bind="star.nick?'@'+profile.nick:''"></p>-->
      <!--</ion-item>-->
    <!--</ion-list>-->

    <!--<div ng-repeat="message in messages" ng-class="{other: message.userId != myId}"-->
         <!--class="messages">-->
      <!--<div class="message fadein">-->
        <!--<span>{{ message.text }}</span>-->
      <!--</div>-->
    <!--</div>-->

  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-light item-input-inset">
    <!--<button id="chat-button127" class="button button-stable button-clear icon ion-android-attach"></button>-->
    <!--<button id="chat-button129" class="button button-stable button-clear icon ion-image"></button>-->
    <!--<button id="chat-button130" class="button button-stable button-clear icon ion-cash"></button>-->
    <!--<label class="item-input-wrapper transparent">-->
      <!--<input type="text" placeholder="${{profile.priceMessage}} per message" my-enter="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />-->
    <!--</label>-->
    <!--<button class="button button-stable button-clear button-icon icon ion-android-send" ng-click="sendMessage()"></button>-->
  </ion-footer-bar>

</ion-view>
