<ion-view view-title="Icoming Call Price" id="page13">
  <ion-content padding="true" class="has-header">
    <form id="icomingCallPrice-form5" class="list">
      <label class="item item-input" id="icomingCallPrice-input17" name="name">
        <span class="input-label">Price $/min</span>
        <input type="number" placeholder="1">
      </label>
    </form>
    <a ui-sref="me()" id="icomingCallPrice-button81" class="button button-positive button-block">Set Price</a>
    <div id="icomingCallPrice-markdown5" class="show-list-numbers-and-dots"></div>
  </ion-content>
</ion-view>
