<ion-view view-title="{{'Incoming Call'|translate}}" nav-transition="none" hide-nav-bar="true" style="background-color:#FFFFFF;">
  <ion-content scroll="false" padding="false" class="manual-ios-statusbar-padding">

    <div class="star-center-on-page">
      <div class="profile-image">
        <img ng-if="star.photoURL" img-fade-in-onload="{{star.photoURL}}">
      </div>
      <div ng-if="star.displayName" class="fadein">
        <h3 ng-show="star.displayName" ng-bind="star.displayName"
            class="profile-display-name uppercase"></h3>
        <h4 ng-show="star.nick" ng-bind="star.nick?'@'+star.nick:''"
            class="profile-nick"></h4>
        <div class="spacer" style="width: 300px; height: 16px;"></div>

        <!--<h5 ng-show="star.status" ng-bind="star.status" id="me-status" class="profile-status fadein"></h5-->
        <div class="spacer" style="width: 300px; height: 40px;"></div>
        <div class="row">
          <div class="col col-center" style="text-align: center">
            <ion-spinner icon="lines"></ion-spinner>
          </div>
        </div>
        <h4 style="color:#000000;font-weight:300;text-align:center;" class="uppercase" translate>calling you</h4>
      </div>
      <!--<audio id="ringtoneAudio" src="ringtones/vivaldi.mp3" loop type="audio/mpeg"></audio>-->
    </div>


  </ion-content>

  <div ng-show="!connected" class="padding-bottom bottom-panel bg-white-gradient">
    <div class="button-bar" style="height: 32px;">
      <a ng-click="cancel()" id="incomingCall-cancel" style="font-weight:300;border-radius:50px 50px 50px 50px;"
         class="button button-assertive button-large button-clear icon ion-android-call phone-rotate"></a>
      <button ng-bind="'Ξ'+profile.priceCall.toFixed(4)"
              class="button button-dark button-large button-clear">Ξ?.0000
      </button>
      <a ng-click="answer()" id="incomingCall-answer" style="font-weight:300;"
         class="button button-balanced button-large button-clear icon ion-android-call"></a>
    </div>

    <div class="button-bar">
      <a class="button button-clear" style="pointer-events: none;" ></a>
      <button ng-show="profile.priceCall && exchangeRate" ng-bind="exchangeRate?'$'+(profile.priceCall*exchangeRate).toFixed(2):' '"
              class="button button-balanced button-clear" style="pointer-events: none;" >
      </button>
      <a class="button button-clear" style="pointer-events: none;" ></a>
    </div>

    <div class="button-bar">
      <button ng-click="cancel()" class="button button-stable button-small button-clear" translate>
        cancel
      </button>
      <button class="button button-stable button-small button-clear" translate>
        revenue
      </button>
      <button ng-click="answer()" class="button button-stable button-small button-clear" translate>
        answer
      </button>
    </div>
  </div>

</ion-view>
