<ion-view title="Stars Expert Messenger" hide-back-button="true" id="page5" style="background-color:#FFFFFF;">
  <ion-content padding="false" scroll="false" class="has-header cover-background">
    <div class="row center-on-page">
      <div class="center-horizontally input-form-width">

        <form ng-show="otpPhone || otpSending" id="login-form1" class="list transparent">
          <!--<span class="text-center" translate>Enter your phone number</span>-->
          <label class="item item-input transparent padding-horizontal"
                 focus-me id="login-phone">
            <input my-enter="otp()" ng-model="user.phone" type="tel" style="color:white; padding-right: 0"
                   placeholder="{{'Enter your phone number'|translate}}"
                   class="input-center">
          </label>

          <button ng-show="otpPhone" ng-click="otp()" id="login-button-otp-" type="submit"
             class="button button-light button-block" translate>Send Code</button>
          <div ng-show="otpSending" class="row">
            <div class="col col-center" style="height: 57px;text-align: center">
              <ion-spinner icon="lines" class="spinner-light"></ion-spinner>
            </div>
          </div>

          <span class="light" style="font-size: 10px">By entering, you agree to the<br/><a href="https://www.stars.expert/tos">Terms of Service</a></span>

        </form>

        <form ng-show="otpMode || otpChecking" id="login-form2" class="list transparent">
          <!--<span class="text-center" translate>Enter received code</span>-->
          <label ng-show="otpMode || otpChecking" id="login-otp"
                 class="item item-input transparent padding-horizontal">
            <input my-enter="otpCheck()" ng-model="user.otp" type="number" style="padding-right:0;color:white"
                   placeholder="{{'Enter received code'|translate}}" class="input-center">
          </label>

          <a ng-if="otpMode" type="submit" ng-click="otpCheck()" id="login-button-otp-check"
             class="button button-light button-block" translate-context="login" translate>Enter</a>

          <a ng-if="otpMode" ng-click="changePhone()" id="login-button-otp-back"
             class="button transparent button-block button-small" translate>Change Phone</a>

          <div ng-show="otpChecking" class="row">
            <div class="col col-center" style="height: 57px;text-align: center">
              <ion-spinner icon="lines" class="spinner-light"></ion-spinner>
            </div>
          </div>
          <div ng-show="otpChecking" class="spacer" style="width: 300px; height: 41px;"></div>

        </form>

      </div>
    </div>
  <div id="login-button-otp"></div>
  </ion-content>
</ion-view>
