<ion-view view-title="Reset Password" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="resetPassword-form4" class="list">
      <label class="item item-input" id="resetPassword-input14" name="email">
        <!--<span class="input-label">Email</span>-->
        <input type="email" placeholder="your.email@mail.com" class="input-center">
      </label>
    </form>
    <a ui-sref="login()" id="resetPassword-button78" class="button button-positive button-block">Send new password</a>
    <div id="resetPassword-markdown4" class="show-list-numbers-and-dots"></div>
  </ion-content>
</ion-view>
