<ion-view view-title="Settings" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list8">
      <ion-checkbox id="settings-checkbox1">Checkbox</ion-checkbox>
      <ion-checkbox id="settings-checkbox2">Checkbox</ion-checkbox>
      <ion-item class="range range-positive" id="settings-range1">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <ion-toggle toggle-class="toggle-positive" id="settings-toggle1">Toggle</ion-toggle>
      <ion-item class="item-icon-right" id="settings-list-item12" ui-sref="about()">About
        <i class="icon ion-information-circled icon-accessory"></i>
      </ion-item>
      <label class="item item-input" id="settings-input7">
        <span class="input-label">Change password</span>
        <input type="password" placeholder="New password">
      </label>
      <label class="item item-input" id="settings-input8">
        <span class="input-label">Confirm password</span>
        <input type="password" placeholder="Password again">
      </label>
    </ion-list>
  </ion-content>
</ion-view>
