<ion-view view-title="Top Up Result" id="page21">
  <ion-content padding="true" class="has-header">
    <div id="topUpResult-container3">
      <h2 id="topUpResult-heading35" style="color:#000000;font-weight:300;text-align:center;">$3200</h2>
      <h5 id="topUpResult-heading36" style="color:#000000;font-weight:300;text-align:center;" class="uppercase">Accepted to your balance</h5>
      <div id="topUpResult-markdown15" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Go ahead and call some amazing Star!</p>
      </div>
      <a ui-sref="stars()" id="topUpResult-button124" class="button button-positive button-block">OK</a>
    </div>
    <div id="topUpResult-container5">
      <h2 id="topUpResult-heading39" style="color:#FF0000;font-weight:300;text-align:center;">Failure</h2>
      <h5 id="topUpResult-heading40" style="color:#000000;font-weight:300;text-align:center;" class="uppercase">PayPal Error</h5>
      <div id="topUpResult-markdown18" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Error message: You have not enough funds at your PayPal balance.</p>
      </div>
      <a ui-sref="topUpBalance()" id="topUpResult-button126" class="button button-balanced button-block">Try Again</a>
    </div>
  </ion-content>
</ion-view>
