<ion-view title="Withdraw" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="withdraw-form6" class="list">
      <h2 id="withdraw-heading12" style="color:#000000;font-weight:300;text-align:center;">$5200</h2>
      <h5 id="withdraw-heading13" style="color:#000000;font-weight:300;text-align:center;" class="uppercase">your revenues</h5>
      <label class="item item-input" id="withdraw-input22" name="name">
        <span class="input-label">Amount</span>
        <input type="number" placeholder="">
      </label>
      <label class="item item-select" id="withdraw-select1">
        <span class="input-label">Withdraw to</span>
        <select>
          <option>Paypal</option>
          <option>Top up balance</option>
        </select>
      </label>
    </form>
    <a ui-sref="withdrawalResult()" id="withdraw-button82" class="button button-balanced button-block">Withdraw</a>
    <div id="withdraw-markdown6" class="show-list-numbers-and-dots"></div>
  </ion-content>
</ion-view>