<ion-view view-title="Withdrawal Result" id="page20">
  <ion-content padding="true" class="has-header">
    <div id="withdrawalResult-container1">
      <form id="withdrawalResult-form11" class="list">
        <h2 id="withdrawalResult-heading29" style="color:#000000;font-weight:300;text-align:center;">$2000</h2>
        <h5 id="withdrawalResult-heading30" style="color:#000000;font-weight:300;text-align:center;" class="uppercase">sucessfully sent</h5>
      </form>
      <div id="withdrawalResult-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Your revenues will arrive to your PayPal account in few minutes.</p>
      </div>
      <a ui-sref="me()" id="withdrawalResult-button121" class="button button-positive button-block">Back to Profile</a>
    </div>
    <div id="withdrawalResult-container2">
      <form id="withdrawalResult-form12" class="list">
        <h2 id="withdrawalResult-heading31" style="color:#FF0000;font-weight:300;text-align:center;">Failure</h2>
        <h5 id="withdrawalResult-heading32" style="color:#000000;font-weight:300;text-align:center;" class="uppercase">Withdrawal Declined</h5>
      </form>
      <div id="withdrawalResult-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Error Message here. Please try again later.</p>
      </div>
      <a ui-sref="withdraw()" id="withdrawalResult-button122" class="button button-balanced button-block">Withdraw Again</a>
      <a ui-sref="withdraw()" id="withdrawalResult-button123" class="button button-positive button-block">Back to Profile</a>
    </div>
  </ion-content>
</ion-view>
